**/.git
results/
src/*/inference_time_*
memory_intensive_ops/
src/*/tag_file.txt
*.o
src/*/scripts/standalone_inference
src/*/src/occlum_server
src/*/src/server
src/*/ssl_client
src/*/client
scripts/benchmarks/memory_requirements_detailed*
models/albert-large-v2/
models/albert-xxlarge-v2/
models/qwen2.5-0.5B/
models/teeny-tiny-llama-460M/
models/mistral-300M/
models/smol-llama-220M-GQA/
models/gpt2/
*.csv
*.onnx
